.home {
    background-image: url('https://st.depositphotos.com/1031174/2760/i/600/depositphotos_27600755-stock-photo-grey-wall.jpg');
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    top:0;
    left:0;
    size: contain;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }